---
layout: layouts/home.njk
numberOfLatestPostsToShow: 5
---

<div class="section">
	<div class="container">
		<p>Hi, I’m Heather.  I like web standards. I'm an advocate for the platform and for the humans using it. Sometimes I even get to do that for my job as a front-end engineer.</p>
		<p>I write about web accessibility and the state of front-end development.</p>
	</div>
</div>

<div class="section">
	<div class="container">
		{% set postsCount = collections.posts | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

		<h2 class="latest-title">Latest writings</h2>

		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}
	</div>
</div>
