---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---


<div class="intro">
	<img alt="A photo of Heather Buchel. She is wearing black glasses and her hair is brunette with lightened ends." class="intro__img" src="/img/me.jpg" />
	<div class="intro__content">
		<h1>heather buchel</h1>
		<p>Hi, I’m Heather.  I like web standards. I'm an advocate for the platform and for the humans using it. Sometimes I even get to do that for my job as a front-end engineer.</p>
		<p>I like blending my experience in user interface design with web accessibility. Front-of-the-front-end is my vibe.</p>
	</div>
</div>



{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h2 class="section__title container">here and there, I wrote...</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}



