{% for post in postslist | reverse %}
	<article class="article">
		<time class="article__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("DD") }}</time>
		<h3 class="article__heading article__heading--small">
			<a href="{{ post.url }}" class="article__link">
				{{ post.data.title }}
			</a>
		</h3>
		
		<p>{{ post.data.description }}</p>
	</article>
{% endfor %}
