<header class="site-header">
    <a class="skip-link" href="#skip">Skip to main content</a>
    <nav class="site-nav" aria-label="Primary">
        {% if page.url === '/' %}
            <h1 class="site-home-title"><a class="site-home" href="/">{{ metadata.title }}</a></h1>
        {% else %}
            <a class="site-home" href="/">{{ metadata.title }}</a>
        {% endif %}
       
        <div class="navigation">
            {%- for entry in collections.all | eleventyNavigation %}
                <a class="site-link" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
            {%- endfor %}
        </div>
    </nav>
</header>
