<header>
    <a href="#skip">Skip to main content</a>
  
        {% if page.url !== "/" %}
        <a href="/">{{ metadata.title }}</a>
        
        {% endif %}
        
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
       
            {%- for entry in collections.all | eleventyNavigation %}
                <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
            {%- endfor %}
       
</header>
