

/* Base */
body {
	background: var(--background-primary);
	font-family: var(--font-primary);
	line-height: var(--line-height-medium);
	color: var(--color-font-primary);
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-small);
	
}



a {
	color: hsl(21, 70%, 36%);
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.visually-hidden {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

.section {
	padding: 0 var(--space-medium);
	margin-bottom: var(--space-xxxl);
}

.container {
	max-width: var(--max-width-large);
	margin: 0 auto;
}


.section__title {
	margin-bottom: var(--space-large);
	font-size: 1.4rem;
}

.plain-list {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: left;	
}


.social-link {
	display: inline-flex;
	align-items: center;
	gap: 12px;
}
.social-link svg {
	width: 20px;
	color: var(--color-red-50);
}

.social-link:hover svg {
	color: var(--color-neutral-70);
}




.meta dt {
	font-weight: 700;
}
.meta dd {
	display: inline;
}

.post-nav {
	display: flex;
	flex-direction: column;
	gap: var(--space-large);
	padding-top: var(--space-xxl);
	margin-top: var(--space-xxl);
	border-top: 1px dashed var(--color-green-30);
}


.post-nav-next {
	text-align: right;
}
.post-nav-next .card-subtitle {
	margin-inline-start: auto;
}


@media (min-width: 700px) {
	.post-nav {
		flex-direction: row;
	}
	.post-nav-next, .post-nav-prev {
		width: 320px;
	}
}

.article {
	padding-bottom: var(--space-large);
	border-bottom: 1px dashed var(--color-green-30);
}
.article:last-of-type {
	border-bottom: none;
}

h2.article__heading {
	font-size: var(--font-size-large);
	margin: 0 0 var(--space-xs);
	max-inline-size: 50ch;
}
.article p {
	margin: 0;
}

a.article__link {
	text-decoration: none;
}
a.article__link:hover {
	text-decoration: underline;
}
.article__date {
	color: var(--color-neutral-60);
}

.header-anchor {
	display: none;
}




@media (min-width: 1080px) {
	.site-header__container {
		max-width: calc(var(--max-width-large) + var(--space-small));
	}
}