
/* Card */
.card-list {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	gap: var(--space-xl);
}
.card {
	padding: var(--card-padding);
	position: relative;
	display: flex;
	flex-direction: column;
	background: var(--card-background-color);
	box-shadow: 10px 10px 0 var(--color-green-30);
	justify-content: center;
	transition: background-color .2s ease-out;
}
.card:nth-of-type(2) {
	background-color: var(--color-orange-15);
}
.card:nth-of-type(3) {
	background-color: var(--color-teal-10);
}

.card__heading {
	font-size: 1.6rem;
	color: var(--color-neutral-70);
	font-weight: 900;
	margin-bottom: var(--space-xs);
}

.card__link {
	color: inherit;
	text-decoration: none;
	transition: all .2s ease-out;
}
.card__link:focus {
	outline: none;
}

.card__link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid transparent;
}
.card__link:hover {
	color: var(--color-orange-50);
}
.card:hover {
	background-color: #fff;
}
.card__link:focus-visible::before {
	outline: none;
	border-color: var(--color-neutral-70);
}

.card__link__text {
	position: relative;
}
.card__date {
	position: relative;
	display: block;
	color: var(--color-neutral-60);
	pointer-events: none;
}
.card-subtitle {
	display: inline-flex;
	align-items: center;
	gap: 12px;
}
.card-subtitle svg {
	width: 18px;
}

