
/* Intro */
.intro {
	max-width: var(--max-width-large);
	margin: 0 auto var(--space-xxxl);
	display: flex;
	flex-direction: column;
	padding: var(--space-large) 0;

}
.intro__img {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	border-radius: 50%;
}
.intro__content {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	max-width: 400px;
	margin: 0 auto;
	padding: var(--space-large);
	background: var(--background-primary);
}

@media (min-width: 800px) {
	.intro {
		flex-direction: row;
		max-width: 700px;
		padding: calc(var(--space-large) * 2) 0;
	}
	.intro__img {
		align-self: center;
	
	}
	.intro__content {
		margin: 0 auto;
		max-width: none;
	}
}