.page {
	display: grid;
}

.page__primary {
	display: flex;
	flex-direction: column;
	gap: var(--space-large);
}

.page__header {
	border-bottom: 1px dashed var(--color-green-30);
	padding: var(--space-xxxl) 0 var(--space-xxxl);
}

.page__content {
	display: grid;
	row-gap: var(--space-xl);
	grid-template-columns: 1fr;
}

.page__description {
	margin: var(--space-medium) 0 0;
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
}

.post-date {
	margin-top: var(--space-small);
	display: block;
}

.social-title {
	font-size: var(--font-size-small);
	margin-bottom: var(--space-small);
}

.social-post {
	background: #fff;
	border-radius: 3px;
	padding: var(--space-xxs);
	font-size: var(--font-size-xxs);
	line-height: var(--line-height-small);
	display: flex;
	gap: var(--space-xxxs);
	align-items: flex-start;text-decoration: none;
	margin-bottom: var(--space-large);
}

.social-text {
	margin: var(--space-xxxs) 0 var(--space-xxs);
}

.social-name {
	
	font-weight: 700;
}

.social-icon {
	display: block;
	width: 18px;
	height: auto;
	flex: none;
	margin-top: 4px;
}


.social-meta {
	display:flex;
	gap: var(--space-small);
	padding: 0;
	color: var(--color-neutral-70);
}
.social-meta__item {
	display: flex;
	align-items: center;
	gap: var(--space-xxxs);
}
.social-meta__icon {
	display: block;
	width: 1rem;
	height: 1rem;
}

.social-meta__count {
	line-height: 1;
}

@media (min-width: 900px) {
	.page {
		grid-template-columns: 2fr 1fr;
		gap: var(--space-xxl);
	}
	
	.page__header {
		grid-column: span 1;
	}
	.page__content {
		grid-row-start: 2;
		grid-column: span 1;
	}
  
	.page__meta {
		grid-row-start: 2;
		grid-column-start: 2;
	}
}