
/* Site header */
.site-header {
	padding: var(--space-xxs);
}
.site-header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-nav {
	display: flex;
}

@media (min-width: 425px) {
	.site-header__container {
		flex-direction: row;
	}
	.site-nav {
		margin-left: auto;
	}
}

.site-link {
	display: inline-block;
	text-decoration: none;
	color: var(--color-neutral-70);
	padding: var(--space-xxs);
	text-transform: lowercase;
	line-height: var(--line-height-small);
}
.site-link:hover {
	color: var(--color-red-50);
}
.site-link--home {
	font-weight: 900;
}
