.social-link {
  display: flex;
  font-size: var(--font-size-small);
  gap: var(--space-xxxs);
  align-items: center;
  text-decoration: none;
}

.footer-title {
  font-size: var(--font-size-small);
  margin-bottom: var(--space-xxxs);
}

.disclaimer-copyright {
  font-size: var(--font-size-xs);
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: var(--space-small);
}
