
/* Theme */
:root {

	--line-height-small: 1.4;
	--line-height-medium: 1.6;

	--font-primary: 'Lexend', sans-serif;

	--color-orange-10: hsl(43, 33%, 96%);
	--color-orange-15: hsl(27, 38%, 94%);
	--color-orange-30: hsl(28, 65%, 72%);
	--color-orange-50: hsl(21, 78%, 55%);

	--color-green-10: hsl(72, 20%, 92%);
	--color-green-30: hsl(75, 9%, 72%);

	--color-teal-10: hsl(146, 18%, 93%);

	--color-red-50: hsl(5, 63%, 55%);

	--color-pink-30: hsl(5, 57%, 73%);

	--color-neutral-60: hsl(0, 0%, 39%);
	--color-neutral-70: hsl(347, 12%, 31%);

	--color-font-primary: var(--color-neutral-60);

	--background-primary: var(--color-orange-10);

	--space-xxxs: .4rem;
	--space-xxs: .75rem;
	--space-xs: 1rem;
	--space-small: 1.2rem;
	--space-medium: 1.6rem;
	--space-large: 2rem;
	--space-xl: 2.4rem;
	--space-xxl: 2.8rem;
	--space-xxxl: 3.2rem;


	--font-size-small: 1.2rem;  
	--font-size-medium: 1.4rem; 
	--font-size-large: 1.6rem; 
	--font-size-xl: 1.8rem; 	
	--font-size-xxl: 2.0rem;   
	--font-size-xxxl: 2.2rem;  




	--max-width-large: 1200px;

	/* Card */
	--card-padding: var(--space-xl) var(--space-large);
	--card-background-color: var(--color-green-10);
}