@import "_reset.css";
@import "_utils.css";

body {
	font-family: "Hubot Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.site-nav {
	background-color: oklch(59.21% 0.17 345.57);
}
