.social-share-card {
    width: 1200px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 40px rgba(0,0,0,.3);
    div {
        max-width: 900px;
    }
    h1 {
        line-height: 1.2;
        font-size: 3.4rem;
        text-wrap: pretty;
    }
    h2 {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2;
        text-wrap: pretty;
        margin-top: 28px;
    }
}
.social-share-footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        box-shadow: 6px -8px 0 rgba(0,0,0,.24), 8px 8px 0 hsla(350, 27%, 60%, 0.6), -8px 4px 0 hsl(344deg, 53%, 30%, .6);
    }
}