<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include "../partials/head.njk" %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/styles/now.css">
	</head>
	<body>
		{% include "../partials/header.njk" %}
		
		<main id="skip">
			<div class="section">
				<div class="container">
					{{ content | safe }}
				</div>
			</div>
		</main>

		{% include "../partials/footer.njk" %}
	</body>
</html>
