---
layout: layouts/base.njk
---
<div class="post">
  <div class="post-wrapper">
    <h1 class="post-title">{{ title }}</h1>
    <div class="post-content">
      {{ content | safe }}
    </div>
  </div>
</div>
	

