---
layout: layouts/base.njk
---
<div class="page">
  <div class="page__header">
    <h1 class="page-title">{{ title }}</h1>
  </div>
  <div class="page__content">
    {{ content | safe }}
  </div>
</div>
	

