<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include "../partials/head.njk" %}

		
		<link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/social-share.css">
	
	</head>
	<body>
		
        {{ content | safe }}
				
	</body>
</html>
